@import '../../styles/base/base';
@import '../../styles/mixins';

.parallax {
    background-attachment: fixed;
    background-image: url('../../images/pawel-czerwinski-IcOg3D9yh0o-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    padding-top: 5rem;
    width: 100%;

    @include respond-to($breakpoint-md, max) {
        height: 16rem;
        padding-top: 3rem;
    }

    &__icons {
        align-items: center;
        display: flex;
        font-size: $font-size-16;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 90rem;
        width: 90%;

        @include respond-to($breakpoint-lg, max) {
            font-size: $font-size-14;
        }

        @include respond-to($breakpoint-md, max) {
            font-size: $font-size-12;
        }

        i {
            color: $color-white;
        }
    }
}
