@import '../../styles/base/base';

.parallax {
    background-attachment: fixed;
    background-image: url('../../images/pawel-czerwinski-IcOg3D9yh0o-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 22rem;
    padding-top: 5rem;
    width: 100%;

    &__icons {
        align-items: center;
        display: flex;
        font-size: $font-size-16;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 90rem;

        i {
            color: $color-white;
        }
    }
}
