@import '../../styles/base/base';
@import '../../styles/mixins';

$_background-color: transparentize($color-dark, 0.6);

.hero {
    background-color: $color-light;
    background-image: url('../../images/planet-1702788_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 25vh 0;
    width: 100vw;

    &__content {
        align-items: center;
        background-color: $_background-color;
        color: $color-white;
        display: flex;
        flex-direction: column;
        font-size: $font-size-18;
        height: 75%;
        justify-content: center;
        margin: 0 auto;
        max-width: 80rem;
        min-height: 40rem;
        padding-bottom: 4rem;
        text-align: center;
        width: 60%;

        @include respond-to($breakpoint-md, max) {
            width: 80%;
        }

        @include respond-to($breakpoint-sm, max) {
            width: 90%;
        }
    }

    &__logo {
        @include animation('fadeIn 0.4s');

        height: auto;
        width: 20rem;
    }

    &__title {
        font-size: $font-size-24;
        margin-bottom: 3rem;
        text-transform: uppercase;
    }

    &__quote {
        font-size: $font-size-18;
        padding: 0 2rem;
        text-align: left;
    }

    &__quote-author {
        font-style: italic;
        text-align: right;
    }

    &__link {
        color: $color-white;

        &:visited {
            color: $color-white;
        }
    }
}
