@import '../../styles/base/base';
@import '../../styles/mixins';

$_background-color-form: lighten($color-contrast-light, 20%);

.contact {
    background-attachment: fixed;
    background-image: url('../../images/pawel-czerwinski-IcOg3D9yh0o-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10rem 0;
    width: 100%;

    &__form {
        background-color: $_background-color-form;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 50rem;
        padding: 3rem;
        width: 40%;

        @include respond-to(1054, max) {
            width: 50%;
        }

        @include respond-to(768, max) {
            width: 40rem;
        }

        .button {
            align-self: center;
        }
    }

    &__input,
    &__text-area {
        border: 1px solid $color-dark;
        border-radius: 3px;
        margin-bottom: 2rem;
        padding: 1.5rem 1rem;
        width: 100%;
    }

    &__text-area {
        height: 150px;
    }
}
