@import '../../styles/base/base';
@import '../../styles/mixins';

.about {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include respond-to($breakpoint-lg, max) {
        width: 105%;
    }

    @include respond-to($breakpoint-md, max) {
        flex-direction: column;
    }

    &__photo {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        height: auto;
        max-width: 30rem;
        width: 35%;

        @include respond-to($breakpoint-md, max) {
            margin-bottom: 4rem;
            width: 50%;
        }
    }

    &__description {
        flex-basis: 65%;
        padding-left: 3rem;

        @include respond-to($breakpoint-md, max) {
            padding: 0;
        }
    }

    &__title {
        margin-bottom: 2rem;
        position: relative;
        width: fit-content;

        &::before {
            background: lighten($color-contrast, 20%);
            bottom: 4px;
            content: '';
            height: 6px;
            position: absolute;
            width: 120%;
            z-index: $z-index-behind;
        }
    }

    &__section {
        margin-bottom: 3rem;
    }

    &__paragraph {
        margin: 1rem 0;
    }

    &__brighten-span {
        font-weight: bold;
    }

    &__skills-list-item {
        margin-left: 3rem;

        &::marker {
            color: $color-dark;
            content: '◈  ';
        }
    }
}
