@import '../../styles/base/base';

$_background-color-divider: lighten($color-dark, 5%);

.divider {
    background-color: $_background-color-divider;
    color: $color-white;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100vw;
    z-index: $z-index-between;
}
