@import '../../styles/base/base';
@import '../../styles/mixins';

.main-content {
    font-size: $font-size-16;
    width: 100vw;

    &__section {
        margin: 8rem auto;
        width: 75vw;
    }
}
