@import '../../styles/base/base';

.main-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: $font-size-16;
    justify-content: center;

    &__section {
        margin: 4rem 0;
        width: 75vw;
    }
}
