@import '../../styles/base/base';

.navigation {
    align-items: flex-end;
    display: flex;
    justify-self: flex-end;
    padding-right: 3rem;
    top: 0;
    transition: 0.4s;
    z-index: $z-index-above;

    &__link {
        color: $color-white;
        font-size: $font-size-20;
        padding: 0.5rem;
        text-decoration: none;

        &:hover {
            color: $color-light;
            font-weight: bold;
        }
    }

    .active {
        color: $color-contrast;
        font-weight: 900;

        &:hover {
            color: $color-contrast;
        }
    }
}
